asgiref==3.9.1
dj-database-url==2.3.0
Django~=6.0
Pillow~=11.0
django-tinymce~=4.0
Django==5.2.5
django-tinymce==3.7.1
gunicorn==22.0.0
packaging==25.0
pillow==10.4.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.3
typing_extensions==4.15.0
whitenoise==6.9.0
