{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us | Dear&Co{% endblock %}

{% block content %}
<main class="static-page-container">
    <h1>Contact Us</h1>
    <p>We're ready to listen. Whether you have a groundbreaking idea for a SaaS platform, a complex AI challenge, or need a stunning web presence, our team is here to help you build something that matters.</p>
    <div class="contact-info">
        <h2>General Inquiries & Partnerships</h2>
        <p>For all new project inquiries, partnership opportunities, or just to say hello, please reach out to us via email.</p>
        <a href="mailto:{{ site_config.email }}" class="contact-email-link">{{ site_config.email }}</a>
    </div>
</main>
{% endblock %}