---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import SocialsSection from "../components/Socials.astro";
---

<Layout title="Socials — Arjun Jayesh">
  <div class="pt-20">
    <SocialsSection />
  </div>
</Layout>

