---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import WorksSection from "../components/Works.astro";
---

<Layout title="Works — Arjun Jayesh">
  <div class="pt-20">
    <WorksSection />
  </div>
</Layout>

