name: Keep Render Service Alive

on:
  schedule:
    - cron: "*/14 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render Subdomain
        run: |
          curl -sS "https://dearnco-django.onrender.com" || echo "Subdomain ping failed"

      - name: Ping Custom Domain
        run: |
          curl -sS "https://dearnco.is-a.dev" || echo "Custom domain ping failed"
